*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

:root {
  --gameBoardDim: 600px;
}

.hidden {
  visibility: hidden;
}

/* styling */

.tris-grid-container {
  width: var(--gameBoardDim);
  height: var(--gameBoardDim);
  background-color: whitesmoke;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem auto;
}

.tris-grid-container > div {
  border: 1px black solid;
  font-size: 50px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-for-ui {
  width: var(--gameBoardDim);
  margin: 2rem auto;

  display: grid;
  grid-template-columns: 1fr;
}

.message {
  text-align: center;
  margin-bottom: 1rem;
}

.bot-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
